/* site-header */
.site-header {
  @apply flex justify-between items-center px-6 py-4;
}

/* hamburger button styling */
.hamburger {
  @apply text-2xl text-gray-900 dark:text-white focus:outline-none;
}

/* headerbar */
.headerbar {
  @apply flex-col space-y-2 mt-4 md:mt-0 md:space-y-0 md:space-x-4 md:flex-row;
}

