/* ThankYouSection.css */

.thank-you-container {
  position: relative;
    bottom: -58px;
    left: 35px;
  width: 95%;
  height: 400px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(180, 90, 255, 0.2);
}

@media (min-width: 768px) {
  .thank-you-container {
    height: 500px;
  }
}

.thank-you-background {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #1c002a, #000000);
  z-index: 0;
}

.thank-you-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.thank-you-glow-frame {
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 12px rgba(180, 90, 255, 0.3);
  pointer-events: none;
  z-index: 2;
}

.thank-you-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ty-subtitle {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 74px;
  margin-bottom: 1rem;
}

.ty-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

@media (min-width: 768px) {
  .ty-title {
    font-size: 62PX;
  }
}

.ty-gradient-text {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ty-dot {
  color: #ec4899;
}
